,,if the regulator mode equal INIT,set the output regulator status to INIT,
,,if the regulator mode equal NORMAL,set the output regulator status to Status_On,
,when the signal is ok,if the regulator mode equal FAILED,set the output regulator status to FAILED,
,,if the regulator mode equal FAILED,set the heat control to Control_Off,
,,if the manage monitor interface mode equal INIT,set the output monitor status to INIT,
,,if the manage monitor interface mode equal NORMAL,set the output monitor status to Status_On,
,,if the manage monitor interface mode equal FAILED,set the output monitor status to FAILED,
,,if the monitor mode equal INIT,set the alarm control to Control_Off,
,,,set the manage monitor interface mode to the monitor mode,
,,,initialize the regulator mode to INIT,
,,if the regulator status equal True,set the regulator init timeout to False,
,,if the regulator status equal False,set the regulator init timeout to True,
,,,initialize the monitor mode to INIT,
,,if the monitor status equal True,set the monitor init timeout to False,
,,if the monitor status equal False,set the monitor init timeout to True,
,,if the regulator mode equal FAILED,set the regulator mode to NORMAL,
,,if the monitor mode equal FAILED,set the regulator mode to NORMAL,
,when the regulator mode equal INIT,,set the Reset to True,
,when the Reset equal True,,set the regulator mode to INIT,